<%= form_for(faildatum) do |f| %>
  <% if faildatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faildatum.errors.count, "error") %> prohibited this faildatum from being saved:</h2>

      <ul>
      <% faildatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :row_id %>
    <%= f.number_field :row_id %>
  </div>

  <div class="field">
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
