<p id="notice"><%= notice %></p>

<div class="container">

<h1>Invalid Postcodedata</h1>

<div class="container">

  <h3>Poscode File Import </h3>
  <%= form_tag import_faildata_path, multipart: true do %>
  <%= file_field_tag :file %>
  <br>
    <%= submit_tag "Upload" %>

  <% end %>

</div>

<br>

<div class="container">
  <%= link_to 'Download', "/faildata.csv", :class=>"btn btn-warning" %>
  <%= link_to 'Home', root_path, :class=>"btn btn-default" %>
</div>


<table class="table table-hover">

  <thead>
    <tr>
      <th>Row_id</th>
      <th>Postcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faildata.each do |faildatum| %>
      <tr>
        <td><%= faildatum.row_id %></td>
        <td><%= faildatum.postcode %></td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>
