<p id="notice"><%= notice %></p>

<p>
  <strong>Row:</strong>
  <%= @faildatum.row_id %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @faildatum.postcode %>
</p>

<%= link_to 'Edit', edit_faildatum_path(@faildatum) %> |
<%= link_to 'Back', faildata_path %>
