<p id="notice"><%= notice %></p>

<div class="container">
<h1>Postcodedata</h1>
<table class="table table-hover">

  <thead>
    <tr>
      <th>Row_ID</th>
      <th>Postcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postcodedata.each do |postcodedatum| %>
      <tr>
        <td><%= postcodedatum.row_id %></td>
        <td><%= postcodedatum.postcode %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<div class="text-center">
<p><%= will_paginate @postcodedata %></p>
</div>

<div class="container">
  <button type="button" class="btn btn-success"><%= link_to 'Validate', new_postcodedatum_path, style: 'color: white' %></button>
</div>
