<div class="container">

<h4><p id="notice"><%= notice %></p></h4>

<h1>Valid Postcodes</h1>

<table>
  <thead>
    <tr>
      <th><h3>Postcode</h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postcodes.each do |postcode| %>
      <tr>
        <td><h3><%= postcode.postcode %></h3></td>
        <td><h3><%= link_to 'Show', postcode, :class=>"btn btn-info" %><h3></td>
        <td><h3><%= link_to 'Destroy', postcode, :class=>"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %><h3></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Validate', new_postcode_path, :class=>"btn btn-warning" %>

</div>
